body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgb(90, 79, 121)10%, rgb(79, 93, 126)80%);
}

h1 {
  font-weight: 200;
  color: #59dbd7;
}

.sign-up {
  color: #59dbd7;
}
